@model TesteWay2Joel.Models.PaginacaoRepositorioModels

@{
    ViewBag.Title = "Meus Repositórios";
}

<hgroup class="title">
    <h1>Meus Repositórios</h1>
</hgroup>

<div>
    @{
        var grid = new WebGrid(null, rowsPerPage: Model.paginaTamanho);
        grid.Bind(Model.repositorios, rowCount: Model.totalRegistros, autoSortAndPage: false);
    }
    @grid.GetHtml(mode: WebGridPagerModes.All, firstText: "<<", lastText: ">>",
        tableStyle: "webgrid",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
            grid.Column("name", header: HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.repositorios[0].name).ToString()).ToString(),
                format: (item) => Html.ActionLink((string)item.name, "Detalhes", new { full_name = item.full_name }), canSort: false),
            grid.Column("description", header: HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.repositorios[0].description).ToString()).ToString(), format: @<span style="word-wrap:break-word;">@item.description</span>, canSort: false),
            grid.Column("updated_at", header: HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.repositorios[0].updated_at).ToString()).ToString(), canSort: false)
         )
     )
</div>