@{
    ViewBag.Title = "Contato";
}

<hgroup class="title">
    <h1>Contato</h1>
</hgroup>

<section class="contact">
    <p>
        <img src="/Images/logo5.png" width="30%" height="30%">
    </p>
</section>

<section class="contact">
    <header>
        <h3>Joel Ossamu Mitsui</h3>
    </header>
</section>

<section class="contact">
    <header>
        <h3>Telefone</h3>
    </header>
    <p>
        <span class="label">Celular:</span>
        <span>+55 48 8422-2040</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:jmitsui@gmail.com">jmitsui@gmail.com</a></span>
    </p>
</section>