@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Agradeço a oportunidade e quero muito fazer parte do time Way2!
            </p>
        </div>
    </section>
}
<h3>Informações adicionais:</h3>
<ol class="round">
    <li class="one">
        <h5>Recursos</h5>
        ASP.NET MVC 4 e Razor.<br />
        C# Versão 4.5 <br />
        Visual Studio 2013 <br />
        SQL Server Express LocalDB database
    </li>
</ol>
